#header-container{
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 60px;
    font-weight: lighter;
}

#tagline{
    align-self: center;
    font-size: 30px;
    font-style: italic;
}

