input{
    height: 30px;
    width: 700px;
    padding-left: 10px;
}

input::placeholder{
    font-style: italic;
}

#summarize-btn{
    border-radius: 10px;
    height: 30px;
}

#url-input{
    margin-right: 10px;
}

img{
    height: 300px;
    width: 500px;
    border-radius: 40px;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:20px;
}


.error{
    width: fit-content;
    color : red;
    font-weight: bold;
    background-color: yellow;
}