input{
    height: 30px;
    width: 700px;
    padding-left: 10px;
}

input::placeholder{
    font-style: italic;
}

#summarize-btn{
    border-radius: 10px;
    height: 30px;
}

#url-input{
    margin-right: 10px;
}

img{
    height: 300px;
    width: 500px;
    border-radius: 40px;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:20px;
}


.error{
    width: fit-content;
    color : red;
    font-weight: bold;
    background-color: yellow;
}


/* Loading Animation  */

#loading-container{
    display:flex;
    column-gap: 10px;
}

#loading-description{
    align-self: center;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #FFFFFF 50%, #FF5C35 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}